<div class="wiki-search-result">
  <h2><a href="{{ link }}">{{ title }}</a></h2>
  <div class="summary">
    {{ summary | raw}}
  </div>
  <div class="meta">
    <pre>{{ link }}</pre>
  </div>
</div>
